@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}

.wrapper{
  display: flex;
}

.wrapper .dynamic-txts{
  /* margin-left: 15px; */
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.dynamic-txts li{
  list-style: none;
  font-size: 60px;
  font-weight: 600;
  position: relative;
  top: 0;
  animation: slide 5s steps(4) infinite;
}
@keyframes slide {
  100%{
    top: -360px;
  }
}